// Declaration of the theme gradients

// =======================================================================================
// Gradient for table, card headers, buttons etc.
// =======================================================================================
@mixin jc-theme-gradient() {
  background: linear-gradient(theme-color(primary) 0, theme-color-level(primary, 4) 50%);
  &, a, .far, .fas {
    color: $white;
  }
}

@mixin jc-theme-gradient-hover() {
  background: linear-gradient(theme-color-level(primary, 2), theme-color-level(primary, 6) 100%);
  color: $white;
}

@mixin jc-theme-gradient-light() {
  background: linear-gradient($gray-100 0%, $gray-200 50%, $gray-400 100%);
  &, a {
    color: $body-color;
  }
}

@mixin jc-theme-gradient-light-hover() {
  background: linear-gradient($gray-200 0%, $gray-400 50%, $gray-500 100%);
}

@mixin jc-theme-gradient-light-disabled() {
  background: linear-gradient($gray-200 0%, $gray-100 75%);
}

@mixin jc-header-gradient() {
  background: linear-gradient($white 0, $gray-100 100%);
  border-top: 5px solid theme-color(primary);
  border-bottom: $border-width solid $gray-200;
  // shadow is off by default in this theme. We only use it at two places. The header gradient and the dropdown menus.
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

@mixin jc-button($color) {
  border: $border-width solid theme-color($color);
  border-radius: .25rem;
  padding: $btn-padding-y $btn-padding-x;
}

@mixin jc-button-gradient() {
  @include jc-button('primary');
  @include jc-theme-gradient;
  &:hover {
    @include jc-theme-gradient-hover;
  }
}

@mixin jc-button-gradient-light() {
  @include jc-button('secondary');
  @include jc-theme-gradient-light;
  &:hover {
    @include jc-theme-gradient-light-hover;
  }
}

