// grid
@mixin jc-container-fluid {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            max-width: 100vw;
            padding-right: $grid-gutter-width;
            padding-left: $grid-gutter-width;
        }
    }
}

// Sizes
@mixin jc-padding-tb($_size) {
    @if ($_size > 0) {
        $_size: #{$_size}+'rem';
    }

    padding-top: $_size;
    padding-bottom: $_size;
}

@mixin jc-padding-lr($_size) {
    @if ($_size > 0) {
        $_size: #{$_size}+'rem';
    }

    padding-left: $_size;
    padding-right: $_size;
}

// Dropdown toggle
@mixin jc-dropdown-toggle {
    @include jc-padding-lr(.5);
    @extend .shadow;
    @extend .rounded;
    background: $white;
    border: $border-width * 2 solid theme-color();
    font-size: $jc-font-size-xs;
    line-height: 1.25rem;
    z-index: 1;

    .dropdown-header {
        font-size: $jc-font-size-xs;        
        font-weight: 700;
        padding: 0;
    }

    .dropdown-item {
        padding: 0;
    }

    ul {
        margin-bottom: 0;
        padding-left: 1rem;
    }
    
    .label {
        font-weight: 600;
    }
}

// Dropdown menu for small screens
@mixin jc-dropdown-menu-sm {
    @include media-breakpoint-down(sm) {
        .dropdown-menu {
            &.show {
                position: relative;
                background: none;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                padding-top: 0;
                max-height: none;
                height: auto;
                overflow: visible;
            }
        }

        .dropdown-item {
            color: $link-color; // reset to original color

            &.active {
                background: none;
                font-weight: 600;
            }

            @include hover-focus {
                background: none;
                color: $link-hover-color;
                text-decoration: underline;
            }

            &:focus {
                font-weight: 600;
            }
        }
        @content;
    }
}

// Default border
// $table-border-width = $border-width
// $table-border-color = $jc-theme-medium
// $input-border-color = $jc-theme-medium
@mixin jc-border($_color: $jc-theme-medium, $_side:'all', $_width: $border-width,) {
    @if $_side == 'all' {
        border: $_width solid $_color;
    } @else {
        border-#{$_side}: $_width solid $_color;
    }
}

// breakout of the default container
@mixin jc-container-breakout {
	width: 100vw;
	position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    padding-left: 30px;
    padding-right: 30px;
}

// Icons
@mixin jc-icon-color($_color: $jc-icon-color, $darken: 10%) {
    color: $_color;
    @include hover-focus() {
        color: darken($_color, $darken);
    }
}

// Mime type icons - https://github.com/dmhendricks/file-icon-vectors/
@mixin jc-mime-icon($_class, $_svg) {
    $image_dir: 'node_modules/file-icon-vectors/dist/icons/vivid/';
    @if ($_class == 'blank') {
        $_class: '.wt-mime';
    } @else {
        $_class: '.wt-mime-' + $_class;
    }
    #{$_class} {
        background-image: url($image_dir + $_svg + '.svg');
    }  
}