// grid
@mixin jc-container-fluid {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            max-width: 100vw;
            padding-right: $grid-gutter-width;
            padding-left: $grid-gutter-width;
        }
    }
}

// menu button
@mixin jc-nav-button {
    @extend .btn;
    @extend .btn-primary;
    @include jc-button-gradient;
}

@mixin jc-padding-top-bottom($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin jc-padding-left-right($size) {
    padding-left: $size;
    padding-right: $size;
}