// Variables which are an override of a bootstrap variable are pre defined in
// the bootstrap/pre-default file.
// Note: not all variables listed here have a bootstrap equivalent.
// If not listed in the bootstrap/pre-default file it is a custom variable.

// Standard sizes etc.
$jc-font-size-base: 1rem; // Bootstrap default
$jc-font-size-xs: .75rem;
$jc-main-wrapper-spacer: 2.5rem;
$jc-facts-table-header-width: math.div(100%, 6); // col-2 equivalent

// Theme Colors
$jc-white: #fff;
$jc-blue: #337ab7;
$jc-red: #B80000;
$jc-green: #70D62C;
$jc-black: #000;

// Gray colors used by this theme (and/or palettes)
$jc-gray-100: #f8f9fa; // Bootstrap gray 100
$jc-gray-200: #e9ecef; // Bootstrap gray-200
$jc-gray-300: #dee2e6; // Bootstrap gray-300
$jc-gray-400: #ced4da; // Bootstrap gray-400
$jc-gray-500: #adb5bd; // Bootstrap gray-500
$jc-gray-600: #6c757d; // Bootstrap gray-600
$jc-gray-900: #212529; // Bootstrap gray-900 (= bootstrap $body-color)

$jc-primary: $jc-blue;
$jc-secondary: $jc-gray-200;

// Usage: main site title (derived from Bootstrap 3)
$jc-brand-primary: #428bca;
$jc-brand-primary-hover: #5e5e5e;

// Body
$jc-body-bg: $jc-white;
$jc-body-color: $jc-gray-900;

// Theme light-dark scheme
$jc-theme-lightest: #f9f9f9; // background in fact-tables and colors on blue gradient
$jc-theme-lighter: $jc-secondary;
$jc-theme-light: $jc-gray-300;
$jc-theme-medium: $jc-gray-400; // table borders
$jc-theme-medium-dark: $jc-gray-500;
$jc-theme-dark: $jc-brand-primary-hover;
$jc-theme-darker: $jc-body-color; // body color

// Typography
$jc-text-muted: $jc-theme-medium-dark;
$jc-hr-border-color: $jc-theme-lighter;

// Components
$jc-border-color: $jc-theme-medium;

// Navigation and dropdown
$jc-link-color: $jc-primary;
$jc-nav-tabs-muted-bg: $jc-theme-lightest;
$jc-nav-tabs-muted-hover-bg: $jc-theme-light;
$jc-dropdown-divider-bg: $jc-theme-medium;
$jc-dropdown-link-active-color: $jc-theme-darker;
$jc-dropdown-link-active-bg: $jc-theme-light;
$jc-dropdown-link-disabled-color: $jc-theme-medium-dark;

// Tables
$jc-table-accent-bg: $jc-theme-lightest;

$jc-facts-table-th-bg: $jc-theme-light;
$jc-facts-table-td-bg: $jc-theme-lightest;
$jc-facts-table-link-color: darken($jc-primary, 15%);
$jc-facts-table-link-hover-color: $jc-primary;

$jc-markdown-table-td-bg: $jc-theme-lighter;

// Cards
$jc-card-bg: $jc-white;

// Forms
$jc-input-bg: $jc-white;
$jc-input-group-addon-bg: $jc-gray-200; // bootstrap default;

// Chart boxes etc.
$jc-male-bg: #d7eaf9;
$jc-female-bg: #fff0f5;
$jc-unknown-bg: $jc-theme-lightest;
$jc-male-border:darken($jc-male-bg, 10%);
$jc-female-border:darken($jc-female-bg, 10%);
$jc-unknown-border:darken($jc-unknown-bg, 20%);

// Other chart colors
$jc-fan-chart-menu-bg: $jc-white;
$jc-interactive-chart-bg: $jc-white;
$jc-osm-sidebar-border-color: $jc-theme-medium-dark;

// Footer
$jc-footer-border-color: $jc-theme-lighter;
$jc-footer-bg: $jc-theme-light;

// Icon colors
$jc-icon-color: $jc-gray-900; // Bootstrap body color
$jc-icon-blue-color: $jc-primary;
$jc-icon-green-color: $jc-green;
$jc-icon-red-color: $jc-red;
$jc-icon-white-color: $jc-theme-lightest;

// Icomoon icons - see: https://icomoon.io/
// These icons are especially made to use in this theme
// Class = 'icon-*'
$jc-icomoon-icons: () !default;
$jc-icomoon-icons: map_merge((icon-silhouette-F: 'e601',
        icon-silhouette-M: 'e602',
        icon-silhouette-U: 'e603',
        icon-sfamily: 'e604',
        icon-cfamily: 'e604',
        icon-children: 'e605',
        icon-childless: 'e606',
        icon-pedigree: 'e609',
        icon-rings: 'e610',
        wt-individual-silhouette-f: 'e601',
        wt-individual-silhouette-m: 'e602',
        wt-individual-silhouette-u: 'e603',
    ), $jc-icomoon-icons);

// Font awesome font family (used with unicode icons below)
$jc-fa-fontfam: "Font Awesome 5 Free";

// Datatable sort icons
$jc-dtsort: 'f0dc';
$jc-dtsort-down: 'f0dd';
$jc-dtsort-up: 'f0de';

// Some button links are not preceded by an icon, use the pseudo class and unicode to get the icon
$jc-icon-add: 'f0fe'; // fas fa-plus-square
$jc-icon-delete: 'f00d'; // fas fa-times
$jc-icon-edit: 'f303'; // fas fa-pencil-alt

// Interactive tree chart treelink icon
$jc-icon-treelink-f: 'f182'; // fas fa-female
$jc-icon-treelink-m: 'f183'; // fas fa-male

// Other icons
$jc-icon-edit-indi: 'f4ff';

// custom modules (Fancy Imagebar)
$jc-fancy-imagebar-border-color: $jc-brand-primary;
$jc-fancy-imagebar-border-width: 5px;
