#exclude files from export

README.md export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php_cs export-ignore
.Gruntfile.js export-ignore
.package.json export-ignore
/assets/scss export-ignore
/assets/js/src export-ignore
/assets/js/_base.js export-ignore
