/*** Icons ***/
// icon colors
.fa-plus,
.icon-selected {
   color: color("green") !important;
}

.wt-icon-delete,
.fa-map-marker {
  color: color("red") !important;
}

.card-header {
  .wt-icon-delete {
    color: white !important;
  }
}

// special icon
.fa-search {
  .wt-header-search & {
    font-size: $font-size-sm;
    vertical-align: top;
  }
}
