// Edit interface page
.jc-global-edit_interface:not(.modal-open) {
  form {
    background: theme-color(light);
    border: 1px solid $input-border-color;
    @extend .px-5;
    @extend .py-3;
    @extend .mt-3;

    h3 {
      @extend .pt-3;
      @extend .pb-2;
      border-top: 1px solid $input-border-color;
    }

    .modal-open & {
      .row {
        @extend .px-0;
      }
    }
  }
}
