// Put specific code for the Homepage or My page here
// Use jc-global-index to access both pages or use jc-global-index-gedcom for the homepage
// and jc-global-index-user for the mypage

.jc-global-index {
  .wt-main-wrapper {
    @extend .mt-0;
  }
  .wt-main-container {
    @extend .p-0;
  }

  .wt-main-blocks {
    @extend .col-sm-9;
    @extend .py-3;
  }
  .wt-side-blocks {
    @extend .col-sm-3;
    @extend .py-3;
    border-left: $border-width solid gray(200);
    .card {
      border-bottom: $border-width solid theme-color(primary);
      border-radius: 0;
      @extend .m-0;
    }
    .card-header {
      @extend .p-2;
    }
    .card-body {
      font-size: $font-size-xs;
      @extend .p-2;
    }
  }
}

