/*** Header ***/
.wt-header-wrapper {
  @include jl-header-gradient;
}

.wt-header-search {
  align-self: flex-start;
  @include jc-direction(padding, 0, '', right);

  .btn-primary {
    @include jl-button-gradient;
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
  }
}

.jc-primary-navigation {
  border: none;
  .nav-link,
  .dropdown-item {
    &.active {
      @include jl-button-gradient;
    }
  }
}

.jc-secondary-navigation {
  .btn-group {
    margin: 0 .15rem;
    button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: .25rem .5rem;
    }
  }
  
  .menu-label {
    display: inline-block;
    @extend .pb-1;
  }

  .dropdown-item {
    &.active {
      @include jl-button-gradient;
    }
  }

  .dropdown-toggle:after {
    vertical-align: middle;
  }
}