/*** Individual page ***/
.jc-global-individual {
  // main section
  .wt-facts-table {
    @include jc-indi-tab-header {
      @include jl-theme-gradient-light;
    }
  }

  .wt-facts-table,
  #sidebar {
    font-size: $font-size-xs !important;
  }

  @at-root {
    #relatives_content {
      .wt-gender-M td {
        background-color: $personbox-male-bg;
      }

      .wt-gender-F td {
        background-color: $personbox-female-bg;
      }
    }
  }
}