.wt-header-wrapper {
  border-top: 5px solid theme-color(primary);
  border-bottom: $border-width solid gray(200);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  @include jl-header-gradient();
}

.wt-site-title {
  & a {
    color: theme-color(primary);
    font-weight: 500;
  }
}

.wt-header-search {
  align-self: flex-start;
  @include jc-direction(padding, 0, '', right);
  @extend .mt-1;
}

.jc-primary-navigation {
  border: none;
  @include jc-direction(margin, -.5rem, '', left)
}

.jc-secondary-navigation {
  .btn-group button {
    border-radius: 0;
  }
}