// Card layout
.card {
  .jc-global-index & {
    border: none;
  }
}

.card-header {
  @include jl-theme-gradient; 

  .jc-global-index & {
    background: transparent;
    border: none;
    @extend .py-2;
    font-size: $font-size-lg;
    &, a, .fa {
      color: $body-color;
    }
  }
}

.card-block {
  background: theme-color(light);
  .jc-global-index & {
    background: transparent;
    border: none;
    @extend .py-0;
  }
}
