%card-header-transparent {
  &,
  a {
    background: transparent;
    border: none;
    .fa {
      color: $body-color;
    }
  }
}
.card {
  .jc-global-index & {
    border: none;
    @extend .p-0;
  }
}

.card-header {
  @include jl-theme-gradient; 

  .jc-global-index & {
    @extend %card-header-transparent;
    @extend .p-0;
    @extend .mb-2;
    font-size: $font-size-base * 1.25;
  }
}

.card-block {
  background: $gray-lightest;
  .jc-global-index & {
    @extend %card-header-transparent;
    @extend .p-0;
  }
}
