// Card layout
.card {
  .jc-global-index & {
    border: none;
  }
}

.card-header {
  &, a, .fa {
      color: $body-color;
    }
    
  .jc-global-individual & {
    @include jl-theme-gradient;
    @extend .pt-1;
  }

  .jc-global-index & {
    background: transparent;
    border: none;
    @extend .py-2;
    font-size: $font-size-lg;    
  }
}

.card-block {
  .jc-global-individual & {
    background: theme-color(light);
  }
  .jc-global-index & {
    background: transparent;
    border: none;
    @extend .py-0;
  }
}
