// icon colors
.fa-plus,
.icon-selected {
   color: color(green) !important;
}

.fa-trash-o,
.fa-map-marker {
  color: color(red) !important;
}

// special icon
.fa-search {
  .wt-header-search & {
    font-size: $font-size-sm;
    vertical-align: top;
  }
}
