.nav-tabs {
  .nav-item {
    @include jc-direction(margin, .15rem, null, right);
  }
  .nav-link {
    @include jl-light-gradient;
    font-size: $font-size-sm;
    font-weight: $headings-font-weight;

    &:hover {
      @include jl-light-gradient-hover;
    }

    &.active {
      @include jl-button-gradient;
    }

    &.text-muted {
      background: darken($gray-lighter, 5%);
      &:hover {
        background: darken($gray-lighter, 15%);
        color: darken($text-muted, 5%);
      }
    }
  }
}
