.wt-block.wt-block-charts{
    opacity:0.99;
}

.wt-block-charts .wt-chart-box{
    width:15rem;
    height:3.5rem;
}

.wt-block-charts .wt-chart-box .wt-chart-box-extra,
.wt-block-charts .wt-chart-box .wt-chart-box-facts,
.wt-block-charts .wt-chart-box .wt-chart-box-name-alt{
    display:none;
}

.wt-block-charts .wt-chart-box .wt-chart-box-lifespan{
    display:block;
}

.wt-block-tree_favorites .wt-chart-box-facts,
.wt-block-user_favorites .wt-chart-box-facts{
    display:block;
}

.wt-block-tree_favorites .wt-chart-box-extra,
.wt-block-user_favorites .wt-chart-box-extra,
.wt-block-tree_favorites .wt-chart-box-lifespan,
.wt-block-user_favorites .wt-chart-box-lifespan{
    display:none;
}



.wt-chart-ancestors .wt-chart-box{
    width:20rem;
}

.wt-chart-ancestors .wt-chart-box-lifespan{
    display:none;
}

.wt-sosa-number{
    border:thin dotted grey;
}

.wt-chart.wt-chart-compact{
    overflow-x:inherit;
}

.wt-chart-compact .wt-chart-box{
    min-width:5rem;
}

.wt-chart-compact .wt-chart-box-thumbnail,
.wt-chart-compact .wt-chart-box-extra,
.wt-chart-compact .wt-chart-box-facts{
    display:none;
}

.wt-chart-descendants .wt-chart-box{
    width:20rem;
}

.wt-chart-descendants .wt-chart-box-lifespan{
    display:none;
}

.wt-daboville-number{
    border:thin dotted grey;
}



.wt-chart-family-book .wt-chart-box{
    width:15rem;
}

.wt-chart-family-book .wt-chart-box-lifespan{
    display:none;
}
.wt-chart-family-book .wt-family-break{
    page-break-before:always;
}



.wt-chart-hourglass{
    overflow-y:auto;
}

.wt-chart-hourglass .wt-chart-box{
    width:15rem;
}

.wt-chart-hourglass .wt-chart-box-lifespan{
    display:none;
}


.tv_out{
    position:relative;
    overflow:hidden;
    border:thin solid #CCCCCC;
    height:50vh;
    resize:vertical;
    min-height:25vh;
    max-height:95vh;
    background:#E6E6E6;
    display:flex;
    align-items:center;
    justify-content:center;
}
.tv_out img{
    border:0;
}
:-webkit-full-screen .tv_out{
    height:100% !important;
}
:fullscreen .tv_out{
    height:100% !important;
}

.tv_in{
    clear:both;
    cursor:move;
    display:inline-block;
}

.tv_in table.tv_tree,
.tv_in table.tv_tree tbody,
.tv_in table.tv_tree tr,
.tv_in table.tv_tree td{
    border:0 none;
    padding:0;
    margin:0;
    background:none;
    font-size:11px;
}
.tv_in table.tv_tree{
    border-collapse:collapse;
}

#tvbCompact{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAYFBMVEX///8ebbHNz8wAAAAaZqkib7Eca64fa64eba4kcLEkcLMZaKoZaKwVY6UaaKwfbbEQXqAebbAaaKofba4baKoZaqwhbq8hb7Eib7Acaqwcaq4daqwmcrMpdbYVZKcZZqmjvWxQAAAAAXRSTlMAQObYZgAAAHVJREFUeF51z0cOA0EIRNGCyc45h/vf0hKoUbXR/F09sQFzvaW0YH5BPVQ8xriO/Wb5WTs/AKjx1kCcz67qELySiDglshPkyCRqK4ZawOGPbahWvEfJ3in1UA9fUPcYLfNzuNy6qTsOJ+YGPFizN6m5a/I8cj9MEgMLAHk6jAAAAABJRU5ErkJggg==');
}
table#tvTreeBorder td#tv_tree_topleft{
    background:none;
}
table#tvTreeBorder td#tv_tree_top{
    background:none;
}
table#tvTreeBorder td#tv_tree_top div{
    font-family:Arial,Verdana,sans-serif;
    font-size:18px;
}
table#tvTreeBorder td#tv_tree_topright{
    background:none;
}
table#tvTreeBorder td#tv_tree_left{
    background:none;
}
table#tvTreeBorder td#tv_tree_right{
    background:none;
}
table#tvTreeBorder td#tv_tree_bottomleft{
    background:none;
}
table#tvTreeBorder td#tv_tree_bottom{
    background:none;
}
table#tvTreeBorder td#tv_tree_bottomright{
    background:none;
}
table#tvTreeBorder td,
#tv_tree{
    background:none;
}
#tv_tree div.tv_vline,
#tv_tree div.tv_hline{
    background-color:#81A9CB;
}
#tv_tree table.tv_tree td.tv_vline{
    width:1px;
    background:repeat-x 50% 50%;
    height:100%;
}
#tv_tree table.tv_tree td.tv_vline_h{
    background-image:url('data:image/gif;base64,R0lGODdhAQDiBIABAIGpzP///ywAAAAAAQDiBAACIoSPqcvtD6OctNqLs968+w+G4kiW5omm6sq27gvH8kzXXQEAOw==');
}
#tv_tree table.tv_tree td.tv_vline_t{
    vertical-align:bottom;
    background-image:url('data:image/gif;base64,R0lGODlhAQDECeMKAIGoyX6py4GpzISpxn6qz3+qzYGqyoOqy4CrzYKry////////////////////////yH5BAEKAA8ALAAA4gQBAOIEAAQwUMhJq7046827/2AojmRpnmiqrmzrvnAsz3Rt33iu73zv/8Bgp1AYDAgEQwJwCCAiADs=');
}
#tv_tree table.tv_tree td.tv_vline_b{
    vertical-align:top;
    background-image:url('data:image/gif;base64,R0lGODlhAQDECaEDAICpyYGpzIKry////yH5BAEKAAMALAAAAAABAOIEAAIjjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNcbIBQAOw==');
}
#tv_tree table.tv_tree td.tv_vline_c,
.tv_in table.tv_tree td.tv_vline_h{
    vertical-align:middle;
}
#tv_tree table.tv_tree td.tv_vline_c{
    height:1px;
}
#tv_tree table.tv_tree div.tv_vline{
    width:1px;
}
#tv_tree table.tv_tree div.tv_vline_t,
#tv_tree table.tv_tree div.tv_vline_b{
    height:50%;
}
#tv_tree table.tv_tree div.tv_vline_c{
    height:1px;
    overflow:hidden;
}
#tv_tree table.tv_tree div.tv_vline_h{
    height:100%;
}
#tv_tree td.tv_hline,
#tv_tree div.tv_hline{
    overflow:hidden;
    width:8px;
}
#tv_tree div.tv_hline{
    height:1px;
}
#tv_tree div.tv_box{
    border:thin outset #81A9CB;
    background:#fffdfd;
    margin-top:2px;
    margin-bottom:2px;
    padding:0;
    width:180px;
    cursor:help;
    border-collapse:collapse;
    border-radius:4px;
    box-shadow:1px 1px 2px #cfcfdf;
}
#tv_tree div.boxExpanded{
    width:250px;
}
#tv_tree div.tv_box div.tvM{
    background:#f5fdff;
    color:#220000;
}
#tv_tree div.tv_box div.tvF{
    background:#fff8f5;
    color:#000022;
}
#tv_tree div.tv_box span.tvSexSymbol{
    font-weight:bold;
    font-family:x-large, serif;
    vertical-align:top;
    margin:1px;
}
#tv_tree div.tv_box span.tvM{
    color:#8f8fdf;
}
#tv_tree div.tv_box span.tvF{
    color:#df8f8f;
}

#tv_tree div.tv_box div.tvM,
#tv_tree .tv_box div.tvF{
    clear:both;
    border:0;
    margin:0;
    padding:1px 4px;
    border-radius:4px;
}
#tv_tree div.tv_box i.dates{
    float:right;
    font-size:75%;
    margin-left:4px;
}
#tv_tree div.tv_box img.tv_treelink{
    height:15px;
    width:15px;
    float:right;
}
#tv_tree div.tv_box img.tv_box_loading{
    height:12px;
    width:12px;
    margin:2px;
    float:right;
}
#tv_tree div.tv_box div.tv_person_expanded{
    min-height:55px;
    padding:2px;
}
#tv_tree div.tv_box img{
    float:left;
    margin:2px;
    max-height:50px;
    max-width:80px;
    width:auto;
}
#tv_tree div.tv_box .icon-silhouette{
    float:left;
}
#tv_tree div.tv_box div.tv_person_expanded a{
    font-weight:bold;
}
#tv_tools,
#tvStylesSubmenu{
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    padding:0;
    margin:0;
    z-index:90;
    background-color:#efefef;
    border:1px outset #dfdfdf;
    border-radius:4px;
    box-shadow:1px 1px 2px #cfcfdf;
}
#tvStylesSubmenu{
    display:none;
    left:0;
    top:0;
    z-index:91;
}

#tv_tools ul{
    list-style:none;
    margin:0;
    padding:0;
}
#tv_tools li.tv_button{
    float:left;
    position:relative;
    padding:0;
    margin:0;
    width:24px;
    height:24px;
    text-align:center;
    vertical-align:middle;
    border:thin solid #efefef;
    background-color:#efefef;
    border-radius:4px;
}
#tvStylesSubmenu li.tv_button{
    float:none;
}
#tv_tools li.tv_button a{
    margin:0;
    display:block;
}
#tv_tools li.tv_button:hover{
    border:thin outset #fdfffd;
    cursor:pointer;
}
#tv_tools li.tvPressed{
    border:thin inset #ffffff;
}
#tv_tools ul li img{
    border:none;
    margin:0;
    padding:0;
    width:22px;
    height:22px;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
}
#tv_tools ul li a.help img.icon{
    margin:3px 0 0;
    padding:0;
    width:15px;
    height:15px;
}

#tvToolsHandler{
    float:left;
    cursor:move;
    height:22px;
    width:2px;
    border:thin inset #f6f6f6;
    margin:2px;
    overflow:hidden;
}

#tvToolsHandler:hover{
    border:thin outset #f6f6f6;
}


#tv_tree div.tv_box div.tvM,
#tv_tree div.tv_box div.tvF{
    background:none;
    color:#000;
    border:0;
    margin:0;
    padding:0 4px;
}

.tvM{background-color:#DDF !important;}
.tvF{background-color:#FDD !important;}

.dashed{border-top:thin dashed #81A9CB !important;}



.wt-chart-pedigree{
    overflow-y:auto;
}

.wt-chart-pedigree-left .wt-chart-box,
.wt-chart-pedigree-right .wt-chart-box{
    width:15rem;
}

.wt-chart-pedigree-up .wt-chart-box,
.wt-chart-pedigree-down .wt-chart-box{
    width:10rem;
    height:8rem;
}

.wt-chart-pedigree .wt-chart-box-lifespan{
    display:none;
}
.wt-chart-pedigree-right .wt-pedigree-lines{
    right:0;
    top:25%;
    bottom:25%;
    border:var(--chart-line);
    border-right:none;
    border-radius:var(--chart-line-radius) 0 0 var(--chart-line-radius);
    width:25%;
    height:50%;
}

.wt-chart-pedigree-right .wt-generation-rev-2 > .wt-pedigree-lines{
    top:12.5%;
    bottom:12.5%;
    height:75%;
}
.wt-chart-pedigree-left .wt-pedigree-lines{
    left:0;
    top:25%;
    bottom:25%;
    border:var(--chart-line);
    border-left:none;
    border-radius:0 var(--chart-line-radius) var(--chart-line-radius) 0;
    width:25%;
    height:50%;
}

.wt-chart-pedigree-left .wt-generation-rev-2 > .wt-pedigree-lines{
    top:12.5%;
    bottom:12.5%;
    height:75%;
}
.wt-chart-pedigree-down{
    width:-webkit-max-content;
    width:max-content;
}

.wt-chart-pedigree-down .wt-pedigree-lines{
    bottom:0;
    left:25%;
    right:25%;
    border:var(--chart-line);
    border-bottom:none;
    border-radius:var(--chart-line-radius) var(--chart-line-radius) 0 0;
    width:50%;
    height:25%;
}

.wt-chart-pedigree-down .wt-generation-rev-2 > .wt-pedigree-lines{
    left:12.5%;
    right:12.5%;
    width:75%;
}
.wt-chart-pedigree-up{
    width:-webkit-max-content;
    width:max-content;
}

.wt-chart-pedigree-up .wt-pedigree-lines{
    top:0;
    left:25%;
    right:25%;
    border:var(--chart-line);
    border-top:none;
    border-radius:0 0 var(--chart-line-radius) var(--chart-line-radius);
    width:50%;
    height:25%;
}

.wt-chart-pedigree-up .wt-generation-rev-2 > .wt-pedigree-lines{
    left:12.5%;
    right:12.5%;
    width:75%;
}



:root{
    --wt-pedigree-map-gen-0:red;
    --wt-pedigree-map-gen-1:orange;
    --wt-pedigree-map-gen-2:gold;
    --wt-pedigree-map-gen-3:lightgreen;
    --wt-pedigree-map-gen-4:green;
    --wt-pedigree-map-gen-5:limegreen;
    --wt-pedigree-map-gen-6:cyan;
    --wt-pedigree-map-gen-7:blue;
    --wt-pedigree-map-gen-8:cornflowerblue;
    --wt-pedigree-map-gen-9:pink;
    --wt-pedigree-map-gen-10:magenta;
    --wt-pedigree-map-gen-11:maroon;
}

.wt-pedigree-map-gen-0{
    color:var(--wt-pedigree-map-gen-0);
}

.wt-pedigree-map-gen-1{
    color:var(--wt-pedigree-map-gen-1);
}

.wt-pedigree-map-gen-2{
    color:var(--wt-pedigree-map-gen-2);
}

.wt-pedigree-map-gen-3{
    color:var(--wt-pedigree-map-gen-3);
}

.wt-pedigree-map-gen-4{
    color:var(--wt-pedigree-map-gen-4);
}

.wt-pedigree-map-gen-5{
    color:var(--wt-pedigree-map-gen-5);
}

.wt-pedigree-map-gen-6{
    color:var(--wt-pedigree-map-gen-6);
}

.wt-pedigree-map-gen-7{
    color:var(--wt-pedigree-map-gen-7);
}

.wt-pedigree-map-gen-8{
    color:var(--wt-pedigree-map-gen-8);
}

.wt-pedigree-map-gen-9{
    color:var(--wt-pedigree-map-gen-9);
}

.wt-pedigree-map-gen-10{
    color:var(--wt-pedigree-map-gen-10);
}

.wt-pedigree-map-gen-11{
    color:var(--wt-pedigree-map-gen-11);
}

.wt-chart-relationships .wt-chart-box{
    width:15rem;
}

.wt-chart-relationships .wt-chart-box-lifespan{
    display:none;
}





.wt-chart-horizontal-indent{
    width:3rem;
}

.wt-chart-vertical-line{
    width:50%;
    height:100%;
    right:0;
    border-left:var(--chart-line);
}

.wt-chart-vertical-last-child-line{
    width:50%;
    right:0;
    height:2.5rem;
    top:0;
    border-left:var(--chart-line);
    border-bottom:var(--chart-line);
    border-radius:0 0 0 var(--chart-line-radius);
}

.wt-chart-vertical-child-line{
    width:50%;
    right:0;
    height:2.5rem;
    top:0;
    border-bottom:var(--chart-line);
}
.wt-chart-horizontal-spacer{
    width:1rem;
}

.wt-chart-horizontal-line{
    width:1rem;
    height:50%;
    border-bottom:var(--chart-line);
}

.wt-chart-horizontal-first-child{
    height:50%;
    position:relative;
    top:50%;
    border-top:var(--chart-line);
    border-right:var(--chart-line);
    border-radius:0 var(--chart-line-radius) 0 0;
}

.wt-chart-horizontal-middle-child{
    height:100%;
    border-right:var(--chart-line);
}

.wt-chart-horizontal-last-child{
    height:50%;
    border-bottom:var(--chart-line);
    border-right:var(--chart-line);
    border-radius:0 0 var(--chart-line-radius) 0;
}

.wt-chart-horizontal-first-parent{
    height:50%;
    position:relative;
    top:50%;
    border-top:var(--chart-line);
    border-left:var(--chart-line);
    border-radius:var(--chart-line-radius) 0 0 0;
}

.wt-chart-horizontal-last-parent{
    height:50%;
    border-bottom:var(--chart-line);
    border-left:var(--chart-line);
    border-radius:0 0 0 var(--chart-line-radius);
}
.wt-chart-expansion-control > .chart-expand{
    display:none;
}

.wt-chart-expansion-control > .chart-collapse{
    display:inline;
}

.wt-chart-expansion-control.collapsed > .chart-expand{
    display:inline;
}

.wt-chart-expansion-control.collapsed > .chart-collapse{
    display:none;
}

.wt-chart-box-name{
    font-weight:bold;
}



.wt-initials-list{
    font-size:1.25rem;
}

.wt-initials-list-item{
    display:inline;
}

.wt-initials-list-item + .wt-initials-list-item::before{
    content:'|';
}

.wt-initial{
}

.wt-initial.active{
    color:#f00;
    font-weight:bold;
}










.wt-surnames-tag-cloud{
    text-align:center;
}

.wt-surnames-tag-cloud-item{
    white-space:nowrap;
}

.wt-surnames-column-list{
    columns:15rem;
    column-rule:solid thin gray;
    border:solid thin gray;
    padding:0 1rem;
}



.markdown{
    overflow-wrap:break-word;
}

.markdown p code{
    color:inherit;
}

.markdown p{
    margin:0 0 0.5rem;
}

.markdown blockquote p{
    border-left:solid thick lightgray;
    padding-left:0.5rem;
}

.markdown table{
    border-collapse:collapse;
    margin-bottom:5px;
}

.markdown th{
    font-weight:bold;
}

.markdown td,
.markdown th{
    border:solid thin #000;
    padding:3px;
}

.markdown img{
    max-width:100%;
    height:auto;
}

:root{
    --wt-map-height:70vh;
 }

.leaflet-control-layers-selector{
    margin-right:2px;
}
.leaflet-container{
    font-size:0.8rem;
}
.leaflet-layerstree-header-name{
    font-weight:bold;
}

.leaflet-layerstree-node .leaflet-layerstree-node .leaflet-layerstree-header-name{
    font-weight:normal;
}

.wt-map{
    height:var(--wt-map-height);
}

:-webkit-full-screen .wt-map{
    height:100%;
}

:fullscreen .wt-map{
    height:100%;
}

.wt-map-sidebar{
    height:var(--wt-map-height);
    overflow-y:auto;
}

:-webkit-full-screen .wt-map-sidebar{
    height:100%;
}

:fullscreen .wt-map-sidebar{
    height:100%;
}

.wt-mime{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22M460.067%20122.733v341.333c0%2018.773-15.36%2034.133-34.133%2034.133h-358.4c-18.773%200-34.133-15.36-34.133-34.133V37.4c0-18.773%2015.36-34.133%2034.133-34.133H340.6V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133h85.334z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M460.067%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267l119.466%20119.466z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M289.4%20353.133c5.12%200%208.533-3.413%208.533-8.533%200-5.12-3.413-8.533-8.533-8.533s-8.533%203.413-8.533%208.533c0%205.12%203.413%208.533%208.533%208.533zm-42.667%200c5.12%200%208.533-3.413%208.533-8.533%200-5.12-3.413-8.533-8.533-8.533-5.12%200-8.533%203.413-8.533%208.533%200%205.12%203.413%208.533%208.533%208.533zm-42.666%200c5.12%200%208.533-3.413%208.533-8.533%200-5.12-3.413-8.533-8.533-8.533s-8.533%203.413-8.533%208.533c-.001%205.12%203.413%208.533%208.533%208.533z%22%20style%3D%22fill%3A%23ff7474%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M430.933%20503.467h-358.4c-21.333%200-38.4-17.067-38.4-38.4V38.4C34.133%2017.067%2051.2%200%2072.533%200H345.6c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H72.533c-16.213%200-29.867%2013.653-29.867%2029.867v426.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h358.4c16.213%200%2029.867-13.653%2029.867-29.867V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c-.001%2022.186-17.067%2039.253-38.401%2039.253zM311.467%20384c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267s12.8-.853%2012.8-12.8v-25.6c0-.853%200-16.213%2013.653-25.6-13.653-12.8-13.653-40.96-13.653-42.667v-8.533c0-11.947-11.093-12.8-12.8-12.8-2.56%200-4.267-1.707-4.267-4.267s1.707-4.267%204.267-4.267c7.68%200%2021.333%204.267%2021.333%2021.333v8.533c0%208.533%202.56%2032.427%2014.507%2039.253%201.707.853%202.56%202.56%202.56%203.413%200%20.853-.853%203.413-2.56%203.413-14.507%207.68-14.507%2021.333-14.507%2022.187v25.6c0%2017.069-13.653%2021.336-21.333%2021.336zM192%20384c-7.68%200-21.333-4.267-21.333-21.333v-25.6c0-.853%200-14.507-14.507-22.187-1.707-.853-2.56-2.56-2.56-3.413%200-.853.853-3.413%202.56-3.413%2011.947-5.973%2014.507-29.867%2014.507-39.253v-8.533c0-17.067%2013.653-21.333%2021.333-21.333%202.56%200%204.267%201.707%204.267%204.267s-1.707%204.267-4.267%204.267-12.8.853-12.8%2012.8v8.533c0%201.707%200%2029.013-13.653%2042.667%2013.653%2010.24%2013.653%2024.747%2013.653%2025.6v25.6c0%2011.947%2011.093%2012.8%2012.8%2012.8%202.56%200%204.267%201.707%204.267%204.267%200%202.557-1.707%204.264-4.267%204.264zm102.4-25.6c-6.827%200-12.8-5.973-12.8-12.8%200-6.827%205.973-12.8%2012.8-12.8s12.8%205.973%2012.8%2012.8c0%206.827-5.973%2012.8-12.8%2012.8zm0-17.067c-2.56%200-4.267%201.707-4.267%204.267%200%202.56%201.707%204.267%204.267%204.267s4.267-1.707%204.267-4.267c0-2.56-1.707-4.267-4.267-4.267zM251.733%20358.4c-6.827%200-12.8-5.973-12.8-12.8%200-6.827%205.973-12.8%2012.8-12.8%206.827%200%2012.8%205.973%2012.8%2012.8%200%206.827-5.973%2012.8-12.8%2012.8zm0-17.067c-2.56%200-4.267%201.707-4.267%204.267%200%202.56%201.707%204.267%204.267%204.267%202.56%200%204.267-1.707%204.267-4.267%200-2.56-1.707-4.267-4.267-4.267zM209.067%20358.4c-6.827%200-12.8-5.973-12.8-12.8%200-6.827%205.973-12.8%2012.8-12.8s12.8%205.973%2012.8%2012.8c0%206.827-5.974%2012.8-12.8%2012.8zm0-17.067c-2.56%200-4.267%201.707-4.267%204.267%200%202.56%201.707%204.267%204.267%204.267s4.267-1.707%204.267-4.267c-.001-2.56-1.707-4.267-4.267-4.267z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
    display:inline-block;
    width:48px;
    height:48px;
}

.wt-mime-application-pdf{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22M460.067%20122.733v341.333c0%2018.773-15.36%2034.133-34.133%2034.133h-358.4c-18.773%200-34.133-15.36-34.133-34.133V37.4c0-18.773%2015.36-34.133%2034.133-34.133H340.6V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133h85.334z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M460.067%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267l119.466%20119.466z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M219.427%20345.453c-20.48%2033.28-40.96%2058.88-40.96%2058.88-21.333%2021.333-59.733%200-34.133-25.6%2016.213-17.066%2044.373-27.306%2075.093-33.28zm44.373-120.32c4.267%2017.92-4.267%2045.227-17.92%2073.387-16.213-33.28-24.747-65.707-24.747-73.387%200-17.066%2035.84-27.306%2042.667%200zm-17.92%2073.387c6.827%2013.653%2014.507%2028.16%2023.893%2040.107-16.213%201.707-34.133%203.413-50.347%207.68%208.534-15.36%2018.774-31.574%2026.454-47.787zm94.72%2037.547c17.067%200%2031.573%2042.667-8.533%2042.667-23.893%200-45.227-17.067-62.293-40.107%2036.693-3.414%2066.559-2.56%2070.826-2.56z%22%20style%3D%22fill%3A%23ff7474%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M430.933%20503.467h-358.4c-21.333%200-38.4-17.067-38.4-38.4V38.4C34.133%2017.067%2051.2%200%2072.533%200H345.6c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H72.533c-16.213%200-29.867%2013.653-29.867%2029.867v426.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h358.4c16.213%200%2029.867-13.653%2029.867-29.867V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c-.001%2022.186-17.067%2039.253-38.401%2039.253zm-268.8-85.334c-7.68%200-15.36-2.56-20.48-7.68-6.827-6.827-10.24-19.627%203.413-34.133%2017.067-17.067%2044.373-27.307%2075.093-34.133%208.533-13.653%2017.067-29.013%2024.747-43.52-16.213-34.133-23.893-66.56-23.893-73.387%200-11.093%2011.947-19.627%2023.04-21.333%2010.24-.853%2023.893%203.413%2028.16%2019.627%205.12%2018.773-4.267%2046.08-17.067%2074.24%205.973%2011.947%2012.8%2024.747%2021.333%2035.84%2026.453-2.56%2050.347-2.56%2066.56-2.56h1.707c11.947%200%2021.333%2014.507%2021.333%2027.307%200%206.827-2.56%2012.8-6.827%2017.067-5.12%205.12-12.8%206.827-23.04%206.827-25.6%200-46.933-17.067-64.853-40.107-15.36%201.707-30.72%203.413-45.227%206.827-19.627%2030.72-38.4%2055.467-40.107%2058.027-6.825%208.531-15.358%2011.091-23.892%2011.091zm52.907-64.853c-25.6%205.973-48.64%2015.36-62.293%2029.867-8.533%208.533-9.387%2016.213-3.413%2022.187%206.827%206.827%2022.187%207.68%2031.573-2.56%200-.854%2016.213-21.334%2034.133-49.494zm68.267-10.24c15.36%2018.773%2034.133%2032.427%2053.76%2032.427%207.68%200%2013.653-1.707%2017.067-5.12%203.413-3.413%204.267-7.68%204.267-10.24%200-9.387-6.827-18.773-12.8-18.773h-2.56c-14.508-.001-35.841-.001-59.734%201.706zm-32.427-34.133c-5.973%2011.093-11.947%2021.333-17.92%2031.573%2011.093-1.707%2022.187-3.413%2033.28-4.267-5.12-8.533-11.093-17.92-15.36-27.306zm-2.56-95.574h-2.56c-8.533.853-15.36%206.827-15.36%2012.8%200%207.68%207.68%2034.133%2020.48%2063.147%2011.093-23.893%2017.92-46.933%2013.653-62.293-2.56-11.947-11.946-13.654-16.213-13.654z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
}

.wt-mime-audio{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22M460.067%20122.733v341.333c0%2018.773-15.36%2034.133-34.133%2034.133h-358.4c-18.773%200-34.133-15.36-34.133-34.133V37.4c0-18.773%2015.36-34.133%2034.133-34.133H340.6V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133h85.334z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M460.067%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267l119.466%20119.466z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M169.933%20412.867c18.773%200%2034.133-15.36%2034.133-34.133%200-18.773-15.36-34.133-34.133-34.133S135.8%20359.96%20135.8%20378.733c0%2018.774%2015.36%2034.134%2034.133%2034.134zm136.534-34.134c18.773%200%2034.133-15.36%2034.133-34.133s-15.36-34.133-34.133-34.133c-18.773%200-34.133%2015.36-34.133%2034.133s15.359%2034.133%2034.133%2034.133z%22%20style%3D%22fill%3A%23ff7474%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M430.933%20503.467h-358.4c-21.333%200-38.4-17.067-38.4-38.4V38.4C34.133%2017.067%2051.2%200%2072.533%200H345.6c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H72.533c-16.213%200-29.867%2013.653-29.867%2029.867v426.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h358.4c16.213%200%2029.867-13.653%2029.867-29.867V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c-.001%2022.186-17.067%2039.253-38.401%2039.253zm-256-85.334c-21.333%200-38.4-17.067-38.4-38.4s17.067-38.4%2038.4-38.4c2.56%200%204.267%201.707%204.267%204.267%200%202.56-1.707%204.267-4.267%204.267-16.213%200-29.867%2013.653-29.867%2029.867%200%2016.213%2013.653%2029.867%2029.867%2029.867s29.867-13.653%2029.867-29.867v-153.6c0-1.707%201.707-3.413%203.413-4.267l136.533-34.133c.853%200%202.56%200%203.413.853.853.853%201.707%201.707%201.707%203.413v153.6c0%2021.333-17.067%2038.4-38.4%2038.4s-38.4-17.067-38.4-38.4%2017.067-38.4%2038.4-38.4c2.56%200%204.267%201.707%204.267%204.267%200%202.56-1.707%204.267-4.267%204.267-16.213%200-29.867%2013.653-29.867%2029.867%200%2016.213%2013.653%2029.867%2029.867%2029.867s29.867-13.653%2029.867-29.867V197.12l-128%2032.427v150.187c0%2021.333-17.066%2038.399-38.4%2038.399z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
}

.wt-mime-text{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22m428.067%20429.933-51.2%2051.2-25.6-25.6-25.6%2025.6L291.533%20447%20257.4%20481.133l-17.067-17.067L206.2%20498.2l-34.133-34.133-34.134%2034.133-51.2-51.2-51.2%2051.2V37.4c0-18.773%2015.36-34.133%2034.133-34.133h273.067V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133H462.2v341.333l-34.133-34.133z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M462.2%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267L462.2%20122.733z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M40.533%20503.467h-1.707c-1.707-.853-2.56-2.56-2.56-4.267V38.4c0-21.333%2017.067-38.4%2038.4-38.4h273.067c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H74.667C58.453%207.68%2044.8%2021.334%2044.8%2037.547v450.56l43.52-43.52c1.707-1.707%204.267-1.707%205.973%200l47.787%2047.787%2030.72-30.72c1.707-1.707%204.267-1.707%205.973%200l30.72%2030.72%2030.72-30.72c1.707-1.707%204.267-1.707%205.973%200l13.653%2013.653%2030.72-30.72c1.707-1.707%204.267-1.707%205.973%200l30.72%2030.72%2022.187-22.187c1.707-1.707%204.267-1.707%205.973%200l22.187%2022.187%2047.787-47.787c1.707-1.707%204.267-1.707%205.973%200l26.453%2026.453V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c0%201.707-.853%203.413-2.56%204.267-1.707.853-3.413%200-4.267-.853l-30.72-30.72-47.787%2047.787c-1.707%201.707-4.267%201.707-5.973%200l-22.187-22.187-22.187%2022.187c-1.707%201.707-4.267%201.707-5.973%200l-30.72-30.72-30.72%2030.72c-1.707%201.707-4.267%201.707-5.973%200l-13.653-13.653-30.72%2030.72c-1.707%201.707-4.267%201.707-5.973%200l-30.72-30.72-30.72%2030.72c-1.707%201.707-4.267%201.707-5.973%200l-47.787-47.787-47.786%2047.785c-.854.853-2.56%201.707-3.414%201.707zm341.334-136.534h-51.2c-2.56%200-4.267-1.707-4.267-4.267s1.707-4.267%204.267-4.267h51.2c2.56%200%204.267%201.707%204.267%204.267s-1.707%204.267-4.267%204.267zm-85.334%200H211.2c-2.56%200-4.267-1.707-4.267-4.267s1.707-4.267%204.267-4.267h85.333c2.56%200%204.267%201.707%204.267%204.267s-1.707%204.267-4.267%204.267zm-119.466%200h-51.2c-2.56%200-4.267-1.707-4.267-4.267s1.707-4.267%204.267-4.267h51.2c2.56%200%204.267%201.707%204.267%204.267s-1.707%204.267-4.267%204.267zm187.733-51.2H228.267c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267H364.8c2.56%200%204.267%201.707%204.267%204.267%200%202.561-1.707%204.267-4.267%204.267zm-170.667%200h-68.267c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267h68.267c2.56%200%204.267%201.707%204.267%204.267%200%202.561-1.707%204.267-4.267%204.267zm153.6-51.2h-51.2c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267h51.2c2.56%200%204.267%201.707%204.267%204.267%200%202.561-1.707%204.267-4.267%204.267zm-85.333%200h-34.133c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267H262.4c2.56%200%204.267%201.707%204.267%204.267%200%202.561-1.707%204.267-4.267%204.267zm-68.267%200h-68.267c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267h68.267c2.56%200%204.267%201.707%204.267%204.267%200%202.561-1.707%204.267-4.267%204.267zm187.734-51.2H313.6c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267h68.267c2.56%200%204.267%201.707%204.267%204.267-.001%202.561-1.707%204.267-4.267%204.267zm-102.4%200h-153.6c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267h153.6c2.56%200%204.267%201.707%204.267%204.267-.001%202.561-1.707%204.267-4.267%204.267zM211.2%20145.067h-85.333c-2.56%200-4.267-1.707-4.267-4.267%200-2.56%201.707-4.267%204.267-4.267H211.2c2.56%200%204.267%201.707%204.267%204.267%200%202.56-1.707%204.267-4.267%204.267z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
}

.wt-mime-text-html{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22M460.067%20122.733v341.333c0%2018.773-15.36%2034.133-34.133%2034.133h-358.4c-18.773%200-34.133-15.36-34.133-34.133V37.4c0-18.773%2015.36-34.133%2034.133-34.133H340.6V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133h85.334z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M460.067%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267l119.466%20119.466z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M430.933%20503.467h-358.4c-21.333%200-38.4-17.067-38.4-38.4V38.4C34.133%2017.067%2051.2%200%2072.533%200H345.6c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H72.533c-16.213%200-29.867%2013.653-29.867%2029.867v426.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h358.4c16.213%200%2029.867-13.653%2029.867-29.867V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c-.001%2022.186-17.067%2039.253-38.401%2039.253zM311.467%20384c-.853%200-1.707%200-1.707-.853-1.707-.853-2.56-3.413-1.707-5.973l33.28-66.56-33.28-66.56c-.853-1.707%200-4.267%201.707-5.973%201.707-.853%204.267%200%205.973%201.707l34.133%2068.267c.853.853.853%202.56%200%203.413l-34.133%2068.267c-.853%203.412-2.56%204.265-4.266%204.265zM192%20384c-1.707%200-3.413-.853-3.413-2.56l-34.133-68.267c-.853-.853-.853-2.56%200-3.413l34.133-68.267c.853-1.707%203.413-2.56%205.973-1.707%201.707.853%202.56%203.413%201.707%205.973l-33.28%2066.56%2033.28%2066.56c.853%201.707%200%204.267-1.707%205.973-.853-.852-1.707-.852-2.56-.852zm34.133-17.067c-.853%200-1.707%200-1.707-.853-1.707-.853-2.56-3.413-1.707-5.973l51.2-102.4c.853-1.707%203.413-2.56%205.973-1.707%201.707.853%202.56%203.413%201.707%205.973l-51.2%20102.4c-.852%201.707-2.559%202.56-4.266%202.56z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
}

.wt-mime-video{
    background:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20503.467%20503.467%22%20viewBox%3D%220%200%20503.467%20503.467%22%3E%3Cpath%20d%3D%22M460.067%20122.733v341.333c0%2018.773-15.36%2034.133-34.133%2034.133h-358.4c-18.773%200-34.133-15.36-34.133-34.133V37.4c0-18.773%2015.36-34.133%2034.133-34.133H340.6V88.6c0%2018.773%2015.36%2034.133%2034.133%2034.133h85.334z%22%20style%3D%22fill%3A%23f2edda%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M460.067%20122.733h-85.333c-18.773%200-34.133-15.36-34.133-34.133V3.267l119.466%20119.466z%22%20style%3D%22fill%3A%23ffd0a1%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M246.733%20191c61.44%200%20110.933%2049.493%20110.933%20110.933s-49.493%20110.933-110.933%20110.933c-61.44%200-110.933-49.493-110.933-110.933S185.293%20191%20246.733%20191z%22%20style%3D%22fill%3A%2380d6fa%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22m280.867%20301.933-59.734%2034.134V267.8z%22%20style%3D%22fill%3A%23ecf4f7%22%20transform%3D%22translate%285%201%29%22%2F%3E%3Cpath%20d%3D%22M430.933%20503.467h-358.4c-21.333%200-38.4-17.067-38.4-38.4V38.4C34.133%2017.067%2051.2%200%2072.533%200H345.6c.853%200%202.56.853%203.413.853l85.333%2085.333c1.707%201.707%201.707%204.267%200%205.973-1.707%201.707-4.267%201.707-5.973%200l-84.48-84.48H72.533c-16.213%200-29.867%2013.653-29.867%2029.867v426.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h358.4c16.213%200%2029.867-13.653%2029.867-29.867V127.147h-81.067c-21.333%200-38.4-17.067-38.4-38.4V46.08c0-2.56%201.707-4.267%204.267-4.267s4.267%201.707%204.267%204.267v42.667c0%2016.213%2013.653%2029.867%2029.867%2029.867h85.333c2.56%200%204.267%201.707%204.267%204.267v341.333c-.001%2022.186-17.067%2039.253-38.401%2039.253zm-179.2-85.334c-63.147%200-115.2-52.053-115.2-115.2s52.053-115.2%20115.2-115.2%20115.2%2052.053%20115.2%20115.2-52.053%20115.2-115.2%20115.2zm0-221.866c-58.88%200-106.667%2047.787-106.667%20106.667S192.853%20409.6%20251.733%20409.6%20358.4%20361.813%20358.4%20302.933s-47.787-106.666-106.667-106.666zm-25.6%20145.066c-.853%200-1.707%200-2.56-.853-1.707-.853-1.707-2.56-1.707-3.413V268.8c0-1.707.853-2.56%201.707-3.413%201.707-.853%202.56-.853%204.267%200l59.733%2034.133c1.707.853%202.56%202.56%202.56%203.413s-.853%202.56-2.56%203.413L227.84%20340.48c0%20.853-.853.853-1.707.853zm4.267-64.853v53.76l46.933-26.453L230.4%20276.48z%22%20style%3D%22fill%3A%2351565f%22%2F%3E%3C%2Fsvg%3E');
}


.wt-osk{
    position:fixed;
    z-index:1000;
    top:1rem;
    display:none;
}

.wt-osk-keys{
    background:#eee;
    padding:0.25rem;
    font-size:larger;
}

.wt-osk-group{
    display:inline-block;
    margin:0.25rem;
    padding:0.25rem 0;
}

.wt-osk-key{
    background:#ddd;
    border-radius:.25rem;
    padding:0.25rem;
    cursor:pointer;
}

.wt-osk-key-shift{
    color:#aaa;
    font-size:smaller;
}

.wt-osk-keys.shifted .wt-osk-key{
    color:#aaa;
}

.wt-osk-keys.shifted .wt-osk-key-shift{
    color:#555;
}

.wt-family-members .wt-chart-box{
    width:22.5vw;
}

.wt-family-members .wt-chart-box-lifespan{
    display:none;
}



.wt-sortable-item .card-header{
    cursor:move;
}
.wt-sortable-item:first-child .wt-btn-reorder-first,
.wt-sortable-item:first-child .wt-btn-reorder-previous{
    cursor:not-allowed;
    opacity:0.5;
}

.wt-sortable-item:last-child .wt-btn-reorder-next,
.wt-sortable-item:last-child .wt-btn-reorder-last{
    cursor:not-allowed;
    opacity:0.5;
}

.wt-album-tab-caption{
    overflow:hidden;
}

.wt-tab-relatives .wt-chart-box-lifespan{
    display:none;
}

[dir=rtl] .wt-icon-flip-rtl{
    transform:scale(-1, 1);
}
td.align-digits,
th.align-digits{
    text-align:right;
}
body{
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

main{
    flex:1;
}
a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
.wt-global{
    overflow-y:scroll;
    overflow-x:hidden;
}
[lang=en-AU] q,
[lang=en-GB] q{
    quotes:"‘" "’" "“" "”";
}
[data-bs-toggle=collapse][aria-expanded=true] > .wt-icon-expand{
    display:none;
}[data-bs-toggle=collapse][aria-expanded=false] > .wt-icon-collapse{
    display:none;
}
.accordion-button,
.accordion-button:not(.collapsed){
    background-color:rgba(0,0,0,.03);
    color:currentcolor;
}

.accordion-button:after{
    display:none;
}
a, .btn-link, .nav-link{
    color:var(--link-color);
    -webkit-text-decoration:var(--link-decoration);
            text-decoration:var(--link-decoration);
}

a:hover, .btn-link:hover, .nav-link:hover{
    color:var(--link-color-hover);
    -webkit-text-decoration:var(--link-decoration-hover);
            text-decoration:var(--link-decoration-hover);
}
.dropdown-menu{
    max-height:90vh;
    overflow-x:hidden;
    scrollbar-gutter:stable;
}
.ut{
    unicode-bidi:isolate;
    overflow-wrap:break-word;
}

.wt-nested-edit-fields{
    padding-left:1rem;
    margin-left:1rem;
    border-left:solid 4px grey;
}

.wt-text-overflow-elipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.wt-icon-exit-fullscreen{
    display:none;
}
.wt-icon-enter-fullscreen{
    display:inline;
}
:-webkit-full-screen .wt-icon-exit-fullscreen{
    display:inline;
}
:fullscreen .wt-icon-exit-fullscreen{
    display:inline;
}
:-webkit-full-screen .wt-icon-enter-fullscreen{
    display:none;
}
:fullscreen .wt-icon-enter-fullscreen{
    display:none;
}
.leaflet-bottom, .leaflet-top{
    z-index:999;
}

