/** JustLight Theme - Charts - Interactive chart */
.wt-chart-interactive,
.wt-block-charts,
.tab-pane {
	.tv {
		&_out {
			background-color: $jc-interactive-chart-bg;
			border: none;
		}

		&M {
			background: var(--sex-m-bg) !important;
		}

		&F {
			background: var(--sex-f-bg) !important;
		}
	}
}

.wt-chart-interactive {
	@include jc-container-breakout;
}

.wt-block-charts,
.tab-pane {
	.tv_out {
		@include jc-border;
	}
}
