/** JustLight Theme - Charts - Openstreetmap chart */
.osm-wrapper {
    margin: 0;
}

.osm-sidebar {
    .gchart {
        border: $border-width dashed $jc-osm-sidebar-border-color;
        margin-bottom: .5rem;
        color: $jc-primary;

        .label {
            font-weight: 700;
        }
    }
}
