/** JustLight Theme - Charts - Interactive chart */
.wt-chart-interactive,
.tab-pane {
	.tv {
		&_out {
			background-color: $white;
			border: none;
		}

		&M {
			background: var(--sex-m-bg) !important;
		}

		&F {
			background: var(--sex-f-bg) !important;
		}
	}
}

.wt-chart-interactive {
	@include jc-container-breakout;
}

.tab-pane {
	.tv_out {
		border: $border-width solid $jc-theme-medium;
	}
}