/** JustLight Theme - Charts - Interactive chart */
// The interactive chart is very hard to overwrite. Use important to achieve what we want
.tv {
	&_out {
		background-color: $jc-body-bg !important;
		border: none !important;
	}

	&_in {
		table.tv_tree {
			&, & tbody, & tr, & td {
				font-size: .75rem !important;
			}
		}
	}

	&_box {
		background: transparent !important;
		border: thin outset $jc-interactive-chart-box-border-color !important;
		box-shadow: 1px 1px 2px $jc-interactive-chart-box-shadow !important;
	}

	&M {
		background: var(--sex-m-bg) !important;
		border-color: var(--sex-m-fg) !important;
	}

	&F {
		background: var(--sex-f-bg) !important;
		border-color: var(--sex-f-fg) !important;
	}

	&M, &F {
		border-radius: 0 !important;
		color: $jc-body-color !important;
		padding: .25rem !important;
	}
}

.wt-page-content {
	&.wt-chart-interactive {
		@include jc-container-breakout;
	}
}

.wt-block-charts,
.tab-pane {
	.tv_out {
		@include jc-border;
	}
}
