/** JustLight Theme - Charts - Fanchart */
.fan_chart_menu {
    background: $white;
    position: absolute;
    display: none;
    z-index: 100;
}

#fan_chart ul {
    list-style-type: none;
    margin: 0;
}