/** JustLight Theme - Charts - Chart-box */
.wt-chart-box {

    line-height: 1.1rem;
    padding: .25rem;
    min-height: 5rem;

    & {
        background: var(--sex-u-bg);
        @include jc-border(var(--sex-u-fg));
    }

    &-f {
        background: var(--sex-f-bg);
        @include jc-border(var(--sex-f-fg));
    }

    &-m {
        background: var(--sex-m-bg);
        @include jc-border(var(--sex-m-fg));
    }

    .wt-chart-box-zoom-dropdown,
    .wt-chart-box-links-dropdown {
        @include jc-dropdown-toggle;
    }

    .wt-chart-box-links-dropdown {
        line-height: 1rem;
    }

    .wt-chart-pedigree-up &,
    .wt-chart-pedigree-down & {
        height: 10rem;
    }

    .wt-chart-compact & {
        font-size: $jc-font-size-xs;
        min-height: 4rem;
        min-width: 10rem;
    }

    .wt-chart-relationships & {
        height: 5rem;
    }
}
