/** JustLight Theme - Charts - Pedigree chart */
.wt-pedigree-generation {
    .wt-chart-pedigree-left & {
        padding-left: .5rem;
        @include jc-padding-tb(.25);
    }

    .wt-chart-pedigree-right & {
        padding-right: .5rem;
        @include jc-padding-tb(.25);
    }

    .wt-chart-pedigree-up & {
        padding-top: .5rem;
        @include jc-padding-lr(.25);
    }

    .wt-chart-pedigree-down & {
        padding-bottom: .5rem;
        @include jc-padding-lr(.25);
    }
}