// JustLight theme - Select2 form elements - convert into Bootstrap style
// =============================================================================
%thumb {
    .gallery img {
        margin-right: $thumbnail-padding;
    }

    .wt-mime {
        width: 2rem;
        height: 2rem;
    }

    [type=application\/pdf] {
        vertical-align: middle;
    }
}

$container: "select2-container--default";
$select: "select2-selection--single";

.#{$container} {
    background-color: $jc-select2-bg;
    flex: 1 1 auto;
    width: 100% !important;

    & *:focus {
        outline: none;
    }

    .#{$select} {
        background-color: $jc-select2-bg;
        @include jc-border($jc-select2-border-color);
        height: auto;
        min-height: 2.5rem;

        & .select2-selection__rendered {
            color: $jc-select2-input-color;
            height: 100%;
            line-height: 2.5;
            padding-left: $input-padding-x;
            padding-top: $input-padding-y;
            padding-bottom: $input-padding-y;
            @extend %thumb;
        }

        & .select2-selection__arrow,
        & .select2-selection__clear {
            height: calc(2.25rem + 2px);
            line-height: 2.25;
        }
    }

    .select2-results {
        background-color: $jc-select2-bg;
    }

    .select2-results__option {
        @extend %thumb;

        &--highlighted[aria-selected] {
            background-color: theme-color(primary);
        }
    }

    .select2-search__field {
        background-color: $jc-select2-bg;
        color: $jc-select2-input-color;
    }
}

.select2-dropdown {
    background-color: $jc-select2-dropdown-bg;
}

.input-group {
    .twitter-typeahead {

        .input-group-append + & {
            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .input-group-prepend + & {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .input-group-btn+.select2.form-control+.#{$container} {
        width: auto !important;

        .#{$select} {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.#{$container}+.input-group-addon {
    border-left: 0;
}
