/** JustLight Theme - Form elements */
@import "forms-calendar";
@import "forms-modals";

form label {
    margin-bottom: .5rem;
}

.hideShowPassword-wrapper {
    button {
        @extend .btn;
        @extend .btn-secondary;
        border-color: $jc-theme-medium-dark;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.wt-route-EditName {
    input[class="NAME"] {
        @extend .form-control;
        display: inline;
        width: auto;
    }
}
