/** JustLight Theme - Global CSS */
/*
 * Pages have the following high-level structure:
 *
 * wt-global wt-theme-<THEME> wt-route-<ROUTE>
 * +---wt-header-wrapper
 * |   +---wt-header-container
 * |       +---wt-header-content
 * |           +---wt-accessibility-links
 * |           +---wt-site-logo
 * |           +---wt-site-title
 * |           +---wt-header-search
 * |           |   +---wt-header-search-form
 * |           |       +---wt-header-search-field
 * |           |       +---wt-header-search-button
 * |           +---wt-secondary-navigation
 * |           |   +---wt-user-menu
 * |           +---wt-primary-navigation
 * |               +---wt-genealogy-menu
 * +---wt-main-wrapper
 * |   +---wt-main-container
 * |       +---wt-main-content
 * |           +---wt-messages
 * |           +---wt-page-title
 * |           +---wt-page-options wt-page-options-xxxxx
 * |           +---wt-page-content
 * +---wt-footers
 *     +---wt-footer wt-footer-xxxxx
 */

/* Colors for chart boxes, links etc. */
:root {
    --chart-line: solid #{$jc-primary} #{$border-width};
    --chart-line-radius: 0;
    --link-color: #{$jc-link-color};
    --link-color-hover: #{$link-hover-color};
    --link-decoration: #{$link-decoration};
    --link-decoration-hover: #{$link-hover-decoration};
    --sex-f-bg: #{$jc-female-bg}; // sass/css compatibility - see: https://sass-lang.com/documentation/breaking-changes/css-vars
    --sex-m-bg: #{$jc-male-bg};
    --sex-u-bg: #{$jc-unknown-bg};
    --sex-f-fg: #{$jc-female-border};
    --sex-m-fg: #{$jc-male-border};
    --sex-u-fg: #{$jc-unknown-border};
}

@include media-breakpoint-up(lg) {
    html {
        scroll-padding-top: 160px; /* height of sticky header + margin*/
    }
}

a {
    &.gallery {
        text-decoration: none;

        img {
            padding-right: .5rem; // for media objects containing multiple items. Add space between the items.

            .col & {
                padding-right: 0; // don't add a padding when the image is inside a col class.
            }
        }
    }
}

.btn-link {
    @include jc-padding-lr(.25);
}

.btn-link:hover,
.nav-link:hover {
    text-decoration: none;
}

.btn-primary {
    @include jc-button-gradient-primary();
}

.btn-secondary {
    @include jc-button-gradient-secondary();
}

.btn-toolbar {
    background: transparent;
    border: none;
}

.btn-outline-secondary {
    color: $jc-btn-os-color;
    border-color: $jc-btn-os-border-color;

    &:not(:disabled):not(.disabled) {

        &.active,
        &:active {
            background: $jc-btn-os-active-bg;
            border-color: $jc-btn-os-active-border-color;
            box-shadow: none;
        }
    }

    &:hover {
        border-color: $jc-btn-os-hover-border-color;
    }
}

caption {
    caption-side: top;
    font-weight: 600;
}

dd {
    margin-bottom: 0;
}

.dropdown {
    &-menu {
        max-height: 65vh;
        overflow-x: hidden;

        @include media-breakpoint-down(md) {
            top: 0;
        }
    }
}

.error {
    color: $jc-red;
    font-weight: 600;
}

// remove default blue outline on focus
:focus {
    box-shadow: none !important;
}

.jc-fact-collapse {
    font-size: $font-size-sm;
    padding-left: 1.65rem;
}

.wt-media-link-title {
    font-size: $font-size-sm;
    font-style: italic;
}

.label {
    font-weight: 600;
}

.starredname {
    text-decoration: underline;
}

.tooltip-inner {
    text-align: left;
}

/*
 * Any element that is loaded dynamically has the class wt-ajax-load.
 * We can provide a "loading" placeholder for empty elements with this class.
 * This is a theme dependent icon
 */
 .wt-ajax-load:empty {
    height: 32px;
    background: url($jc-webtrees-image-path + '/images/loading-32x32.gif') no-repeat 50% 50%;
}

.wt-initial.active {
    color: $jc-initial-active;
}

.wt-page-menu-button {
    @include jc-button-gradient-primary();
}

.wt-page-menu-items {
    font-size: $font-size-sm;
}

.wt-page-options {
    @include jc-border;
    background: $jc-page-options-bg;
    padding: 1rem;
    margin-bottom: 2rem;
}

.wt-quick-facts {
    font-size: $font-size-sm;

    a:not(:last-child)::after {
        content: "|"
    }
}
