/** JustLight Theme - Page header */

/*
 * Pages header has the following high-level structure:
 *
 * wt-header-wrapper
 * +---wt-header-container
 *     +---wt-header-content
 *         +---wt-accessibility-links
 *         +---wt-site-logo
 *         +---wt-site-title
 *         +---wt-header-search
 *         |   +---wt-header-search-form
 *         |       +---wt-header-search-field
 *         |       +---wt-header-search-button
 *         +---wt-secondary-navigation
 *         |   +---wt-user-menu
 *         +---wt-primary-navigation
 *             +---wt-genealogy-menu
 */
%jc-site-title {
    color: $jc-brand-primary;
    font-weight: 400;

    &:hover {
        color: $jc-brand-primary-hover;
        text-decoration: none;
    }
}

.wt-header-wrapper {
    @include jc-header-gradient;

    @include media-breakpoint-down(lg) {
        &.sticky-top {
            position: relative;
        }
    }

    .wt-header-container {
        @include jc-container-fluid;
    }

    .wt-header-content {
        background: transparent;
    }

    .jc-header-content-start {
        flex: 1 1 auto;

        .wt-site-logo {
            display: none;
        }

        .wt-site-title {
            margin-top: 1rem;
            margin-bottom: 1rem;

            a {
                @extend %jc-site-title;
            }
        }
    }

    .jc-header-content-end {
        flex: 1 0 auto;

        @include media-breakpoint-down(md) {
            flex: 0;
        }

        .wt-header-search {
            max-width: 15rem;
            margin-bottom: auto;

            .wt-header-search-button {
                @include jc-button-gradient-primary();
            }
        }

        .wt-secondary-navigation {
            flex: 0;
            white-space: nowrap;
            margin-bottom: auto;
        }
    }

    .wt-primary-navigation {
        /* Extend to full page width */
        flex: 0 1 100vw;
        max-width: 100vw;
        /* Recalculate margins for content */
        margin-top: 1rem;
        margin-bottom: 1rem;

        &.navbar-collapse {
            align-items: flex-start;
        }
    }

    .navbar {
        align-items: flex-start;
        padding: 0;
    }

    .navbar-toggler {
        order: 2;
        margin-top: 1rem;

        &:focus {
            outline-color: $jc-theme-light;
        }
    }

    @include media-breakpoint-up(sm) {
        .dropdown-item.active {
            @include jc-theme-gradient-primary();
        }
    }
}
