/** JustLight Theme - Icons - Map icons */
.wt-icon-bing-maps {
    content: url('{{ webtrees }}/icons/bing-maps.png');
}

.wt-icon-google-maps {
    content: url('{{ webtrees }}/icons/google-maps.png');
}

.wt-icon-openstreetmap {
    content: url('{{ webtrees }}/icons/openstreetmap.png');
}
