/** JustLight Theme - Icons - Datatable sort icons */

table.dataTable {
    thead > tr > th {
        &.dt-orderable-asc,
        &.dt-orderable-desc {
            span.dt-column-order {
                &:before,
                &:after {
                    opacity: 0.6;
                    line-height: 0.75rem;
                }
            }
        }
        &.dt-ordering-asc {
            span.dt-column-order {
                &:before {
                    opacity: 1;
                }
            }
        }
        &.dt-ordering-desc {
            span.dt-column-order {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}
