/** JustLight Theme - Icons - general icons */

// workaround for unicode icons in sass.
// See: http://stackoverflow.com/questions/30421570/sass-unicode-escape-is-not-preserved-in-css-file
@function unicode($str) {
    @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"");
}

[class*="icon-"] {
    @include jc-icon-color();

    cursor: pointer;
    display: inline-block;
    font-style: normal;
    line-height: 1;
    font-size: 1.1rem;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    .btn-primary & {
        color: $jc-icon-white-color;
    }
}

.icon {
    &-cfamily {
        font-size: 2rem;
    }

    &-selected {
        @include jc-icon-color($jc-icon-green-color);
    }

    &-silhouette { // used in charts and option lists

        &-m,
        &-f,
        &-u {
            font-size: 3rem;
            padding-right: .4rem;
            vertical-align: middle;
        }
    }

    &-edit_indi {
        &::before {
            font-family: $jc-fa-fontfam;
            content: unicode($jc-icon-edit-indi);
        }
    }
}

// Miscellaneous icons
.wt-block-content {

    &-gedcom_block,
    &-user_welcome {
        [class*="icon-"] {
            font-size: 2rem;
            vertical-align: bottom;
        }
    }
}

.fa-location-dot { // alias fa-map-marker-alt
    @include jc-icon-color($jc-icon-red-color, 5%);
}

.wt-individual-silhouette {

    &-f,
    &-m,
    &-u {
        line-height: 1;
        font-style: normal;
        font-size: 200px; // same size as main image
    }
}

.tv_treelink {
    &::before {
        font-family: $jc-fa-fontfam;
        .tvF & {
            content: unicode($jc-icon-treelink-f);
        }
        .tvM & {
            content: unicode($jc-icon-treelink-m);
        }
    }
}

// toggle gender icons (filter above data tables)
[data-toggle=buttons] {
    > label {
        > .wt-icon-sex {
            pointer-events: none;
        }
    }
}

@import "icons-theme";
@import "icons-icomoon";
@import "icons-datatable-sort";
@import "icons-mime-type";
@import "icons-maps";
@import "icons-resn";
