/** JustLight Theme - Icons - Icomoon */
@each $icon,
$unicode in $jc-icomoon-icons {
    .#{$icon} {
        font-family: 'icomoon' !important;

        &:before {
            content: unicode($unicode);
        }
    }
}

.icon-rings {
    @include jc-icon-color($jc-icon-red-color);
    font-size: 1.2rem;
}
