/** JustLight Theme - Icons - Resn (privacy) icons */
.icon-resn-confidential {
    content: url(resn_confidential.png);
}

.icon-resn-locked {
    content: url(resn_locked.png);
}

.icon-resn-none {
    content: url(resn_none.png);
}

.icon-resn-privacy {
    content: url(resn_privacy.png);
}
