/** JustLight Theme - Icons - Map icons */
.wt-icon-bing-maps {
    content: url($jc-webtrees-image-path + '/icons/bing-maps.png');
}

.wt-icon-google-maps {
    content: url($jc-webtrees-image-path + '/icons/google-maps.png');
}

.wt-icon-openstreetmap {
    content: url($jc-webtrees-image-path + '/icons/openstreetmap.png');
}
