/** JustLight Theme - Page main content */

/*
 * Pages main have the following high-level structure:
 *
 * wt-main-wrapper
 * +---wt-main-container
 *     +---wt-main-content
 *         +---wt-messages
 *         +---wt-page-title
 *         +---wt-page-options wt-page-options-xxxxx
 *         +---wt-page-content
 */
#content {
    .wt-main-wrapper {
        flex: 1;
        height: 100vw;

        .wt-page-title {
            margin-top: $jc-main-wrapper-margin;
            margin-bottom: $jc-main-wrapper-margin;
        }
    }
}

/** Individual page name cards */
#individual-names {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include jc-padding-top-bottom(0);

        &:not(#name-header-add) {
            @include jc-theme-gradient-light;
        }

        a:first-child,
        .card-title {
            flex: 1;
        }
        .btn-link {
            @include jc-padding-top-bottom(0.25rem);
        }

        &#name-header-0 {
            @include jc-theme-gradient;
        }
    }
}

/** Nav tabs */
#individual-tabs {
    .nav-link {
        @include jc-theme-gradient-light;
        border: $border-width solid $jc-nav-tabs-border-color;
        &.active {
            @include jc-theme-gradient;
        }
    }
}

