/** JustLight Theme - Page main content */

/*
 * Pages main have the following high-level structure:
 *
 * wt-main-wrapper
 * +---wt-main-container
 *     +---wt-main-content
 *         +---wt-messages
 *         +---wt-page-title
 *         +---wt-page-options wt-page-options-xxxxx
 *         +---wt-page-content
 */

.wt-page-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.wt-route-UserPage h2 {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: $border-width solid $jc-hr-border-color;
}


