/** JustLight Theme - Specific pages - Datatables */

.dataTables_wrapper {	
    @extend .table-responsive;
    margin-top: 1rem;

    @at-root .page-item.active {
        .page-link {
            @include jc-theme-gradient;
        }
    }

    @at-root .dataTables_paginate {
        margin-bottom: .5rem;
    }

    @at-root .dataTables_filter {
        align-self: flex-end;
    }

    @at-root .dataTables_length {
        padding-top: .85rem;
    }
    
    @at-root table.dataTable {
        @extend .table-striped;
            
        thead
            tr:last-child {
            @include jc-theme-gradient-light;
        }
    }
    
    @at-root .wt-table-individual,
    .wt-table-family {
        thead tr:first-child,
        tfoot tr {
            background: $jc-theme-dark;
        }
    }
}

