/** JustLight Theme - Specific pages - Charts */

/*
 * Chart-boxes are used to build the various charts.
 * Each type of chart will set its own size and hide/show content.
 *
 * wt-chart-box
 * +--- wt-chart-box-thumbnail
 * +--- wt-chart-box-extra
 *      +--- wt-chart-box-zoom
 *           +--- wt-chart-box-icon
 *           +--- wt-chart-box-dropdown wt-chart-box-zoom-dropdown
 *      +--- wt-chart-box-links
 *           +--- wt-chart-box-icon
 *           +--- wt-chart-box-dropdown wt-chart-box-links-dropdown
 * +--- wt-chart-box-name
 * +--- wt-chart-box-lifespan
 * +--- wt-chart-box-facts
 *     +--- wt-chart-box-fact
 */
.wt-chart-box {

    :not(.wt-facts-table &) {
        font-size: $font-size-sm;
        padding: .25rem;
        line-height: 1.1;
        min-height: 5rem;
    }

    &,
    & .wt-chart-box-menu {
        background: var(--sex-u-bg);
    }

    &-f,
    &-f .wt-chart-box-dropdown {
        background: var(--sex-f-bg);
    }

    &-m,
    &-m .wt-chart-box-dropdown {
        background: var(--sex-m-bg);
    }

    .wt-chart-box-zoom-dropdown {
        @include jc-padding-lr(.5);
        @extend .shadow;
        @extend .rounded;
        background: $white;
        font-size: .75rem;
        .label {
            font-weight: 600;
        }
    }
}