/** JustLight Theme - Specific pages - Tabs */
.nav-tabs {
    .nav-link {
        @include jc-theme-gradient-light;
        @include jc-border;

        &.active {
            @include jc-theme-gradient;

            &:hover {
                @include jc-theme-gradient-hover;
            }
        }

        &:hover {
            @include jc-theme-gradient-light-hover;
        }

        &.text-muted {
            background: $jc-theme-lightest;

            &:hover {
                background: $jc-theme-light;
            }

            .wt-page-content & {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            border: none;
            padding: .5rem;

            &,
            &.active,
            &.active:hover,
            &:hover {
                background: transparent;
                color: $body-color;
            }

            &:hover {
                color: theme-color();
            }

            &.active {
                background: $jc-theme-lightest;
                @include jc-border($_side: 'left');
                @include jc-border($_side: 'top');
                @include jc-border($_side: 'right');
            }

            &.active:hover {
                background: $jc-theme-lighter;
            }

            &.text-muted {
                display: none;
            }
        }
    }

}

/** Special tabs */
.wt-tab-album {
    figcaption {
        @extend .text-truncate;
        font-size: $jc-font-size-xs;

        a {
            color: $body-color;
        }
    }
}

.wt-tab-stories {
    text-align: justify;
}
