/** JustLight Theme - Specific pages - Tables */
table {
    border-collapse: separate;
    border-spacing: 0;
}

/** Facts Table */
.wt-facts-table {
    th {
        background-color: $jc-theme-light;
        font-weight: 400;
        width: $jc-facts-table-header-width;
    }

    td {
        background-color: $jc-theme-lightest;
    }

    th,
    td {
        @include jc-table-border-medium;
        padding: .75rem;
    }

    a {
        color: $body-color;

        @include hover-focus() {
            color: $body-color;
        }
    }

    .editfacts {
        white-space: nowrap;
    }

    .wt-chart-box {
        padding: .75rem;
    }

    #sidebar-content-family_nav & {
        @extend .table-striped;

        tr {
            text-align: left !important;
        }

        th,
        td {
            background: none; // remove the default background to use a striped table.
            border: none;
            padding: .3rem;
        }

        caption {
            padding: .3rem;
        }
    }
}

/** Markdown table */
.jc-markdown-table {

    // reset styles from parent .wt-facts-table
    .wt-facts-table & {
        th,
        td {
            padding: .3rem; // .table-sm
            border-width: 0 0 $border-width 0;
        }
    }

    font-size: $jc-font-size-xs;

    th {
        background: transparent;
        font-weight: 600;
    }

    tr:nth-of-type(odd) {
        td {
            background-color: $jc-theme-lighter;
        }
    }

    @at-root .jc-markdown-table-separator {
        @include jc-theme-gradient-light;
    }
}

/** JC Stats Table */
.jc-stats-table {
    @include jc-table-border-medium;
    font-size: $font-size-sm;

    th {
        font-weight: 400;
        white-space: nowrap;
    }
}

/** Stories table */
.jc-stories-table {
    @include jc-table-border-medium;
    thead tr {
        @include jc-theme-gradient;
        th {
           vertical-align: top; 
        }
    }
}

/** Calendar Page table */
.wt-route-CalendarPage {
    table {
        @extend .table;
        @extend .table-sm;
        @include jc-table-border-medium;

        th, 
        td {
            border: 0;
        }

        .topbottombar {
            background-color: $jc-theme-lighter;
        }
    }

    .wt-page-content {
        table {
            @extend .table-bordered;
            @extend .table-info;
            td {
                li {
                    > a {
                        font-weight: 700;
                    }
                    .indent {
                        font-size: $font-size-sm;
                    }
                }
            }
        }   
    }
}