/** JustLight Theme - Specific pages - Tables */
table {
    border-collapse: separate;
    border-spacing: 0;
}

/** Facts Table */
.wt-facts-table {
    th {
        background-color: $jc-facts-table-th-bg;
        font-weight: 400;
        width: $jc-facts-table-header-width;
    }

    td {
        background-color: $jc-facts-table-td-bg;
    }

    th,
    td {
        @include jc-border;
        padding: .75rem;
    }

    @at-root .wt-old {
        th {
            background-color: lighten($jc-red, 40%);
        }
        td {
            background-color: lighten($jc-red, 50%);
        }
    }

    @at-root .wt-new {
        th {
            background-color: lighten($jc-green, 20%);
        }
        td {
            background-color: lighten($jc-green, 30%);
        }
    }

    a {
        color: $jc-facts-table-link-color;

        &:hover,
        &:focus {
            color: $jc-facts-table-link-hover-color;
        }
    }

    .wt-fact-sources {
        .value p {
            margin-bottom: 0;
        }
    }

    .wt-chart-box {
        padding: .75rem;
    }

    #sidebar-content-family_nav & {
        @extend .table-striped;

        tr {
            text-align: left !important;
        }

        th,
        td {
            background: none; // remove the default background to use a striped table.
            border: none;
            padding: .3rem;
        }

        caption {
            padding: .3rem;
        }
    }
}

/** Markdown table */
.jc-markdown-table {

    border-collapse: separate;

    // reset styles from parent .wt-facts-table
    .wt-facts-table & {

        th,
        td {
            padding: .3rem; // .table-sm
            border-width: 0 0 $border-width 0;
        }
    }

    font-size: $jc-font-size-xs;

    th {
        background: transparent;
        font-weight: 600;
    }

    tr:nth-of-type(odd) {
        td {
            background-color: $jc-markdown-table-td-bg;
        }
    }

    @at-root .jc-markdown-table-separator {
        @include jc-theme-gradient-secondary();
    }
}

/** JC Stats Table */
.jc-stats-table {
    @include jc-border;
    font-size: $font-size-sm;

    th {
        font-weight: 400;
        white-space: nowrap;
    }
}

/** Stories table */
.jc-stories-table {
    @include jc-border;

    thead tr {
        @include jc-theme-gradient-primary();

        th {
            vertical-align: top;
        }
    }
}

/** Calendar Page table */
.wt-route-CalendarPage {
    table {
        @extend .table;
        @extend .table-sm;
        @include jc-border;

        th,
        td {
            border: 0;
        }
    }

    .wt-page-content {
        table {
            background-color: $jc-page-options-bg;
            border: 0;

            th, td {
                @include jc-border($jc-border-color-accent);
            }

            td {
                li {
                    >a {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
