/** JustLight Theme - Pages */
.wt-page-title {
    margin-bottom: $jc-main-wrapper-spacer;
    margin-left: 0 !important;
    margin-right: auto !important;
}

.wt-route {
    &-UserPage {
        h2 {
            padding-bottom: 0.5rem;
            @include jc-border($jc-theme-lighter, 'bottom');
        }
    }

    &-IndividualPage {
        .jc-indi-header-image-container {
            flex: 0 0 230px; // margins included. Image is 200px width

            .jc-indi-silhouette-container {
                border: 0;
                box-shadow: none;
                text-align: center;
            }
        }

        .wt-main-container {
            @include jc-container-fluid;

            @include media-breakpoint-up(lg) {

                // individual page main section - treat as col-sm-9
                .col-sm-8 {
                    flex: 0 0 75%;
                    max-width: 75%;
                }

                // individual page sidebar - treat as col-sm-3
                .col-sm-4 {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }
        }
    }

    &-PlaceHierarchyListModule {
        .text-center {
            text-align: left !important;
        }
    }

    &-IndividualListModule,
    &-FamilyListModule {
        .wt-page-title {
            @extend .text-center;
        }
        .wt-page-options {
            @extend .border-0;
            @extend .bg-transparent;
            @extend .text-center;
        }
    }
}

@import "pages-blocks";
@import "pages-cards";
@import "pages-colorbox";
@import "pages-datatables";
@import "pages-tables";
@import "pages-tabs";
@import "pages-facts";
