/** JustLight Theme - Specific pages - Tabs */
.nav-tabs {
    .nav-link {
        @include jc-theme-gradient-light;
        border: $border-width solid $jc-theme-medium;

        &.active {
            @include jc-theme-gradient;
            &:hover {
                @include jc-theme-gradient-hover;
            }
        }

        &:hover {
            @include jc-theme-gradient-light-hover;
        }

        &.text-muted {
            background: $jc-theme-lightest;

            &:hover {
                background: $jc-theme-light;
            }

            .wt-page-content & {
                display: none;
            }
        }
    }
}