/** JustLight Theme - Specific pages - Cards */
.card {
    /** Individual page Sidebar */
    #sidebar & {
        font-size: $font-size-sm;
    }

    /** Cards in forms (collapsable panels) **/
    form & {
        @extend .mb-2;
    }

}

.card-header {

    /** Individual page name cards */
    #individual-names & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.8rem;
        @include jc-padding-tb(.25);

        a:first-child,
        .card-title {
            flex: 1;
        }

        .btn-link {
            @include jc-padding-tb(0);
        }
    }

    /** Individual page name card (first) */
    #individual-names .card:first-of-type & {
        @include jc-theme-gradient-primary();
    }

    /** Individual page Sidebar */
    #sidebar & {
        @include jc-theme-gradient-primary();
        @include jc-padding-tb(.25);
        line-height: 1.8rem;
    }

    /** Card headers in forms (collapsable panels) **/
    form & {
        @extend .bg-secondary;
        @include jc-padding-tb(.5);
        color: $body-color;
        text-decoration: none;
    }
}

.card-body {
    @include jc-padding-tb(.5);

    #sidebar-content-family_nav & {
        padding: 0;
    }

    .wt-sidebar-family-navigator {
        .wt-family-navigator-label {
            width: $jc-facts-table-header-width * 2;
        }

        .dropdown-menu {
            @include jc-dropdown-toggle;
        }
    }
}
