/** JustLight Theme - Specific pages - Home page and User page blocks */
.wt-block {
    border: none;

    &:first-child {
        margin-top: $jc-main-wrapper-spacer;
    }

    &:last-child {
        margin-bottom: $jc-main-wrapper-spacer;
    }

    .wt-block-header {
        border: none;
        background: none;
        padding: 0;

        .wt-main-blocks & {
            @extend .h3;
        }

        .wt-side-blocks & {
            @extend .h4;
        }
    }

    .wt-block-content {
        padding: 0;

        .wt-side-blocks & {
            font-size: $font-size-sm;
        }
    }
}

.wt-side-blocks {
    @include jc-border($jc-theme-lighter, 'left');
    font-size: $font-size-sm;

    >div {
        &:not(:last-child) {
            padding-bottom: 0.5rem;
            @include jc-border($jc-primary, 'bottom');
            border-radius: 0;
        }
    }
}

/** Special blocks */
.wt-block-content-charts {
    overflow-x: auto;
}

.wt-block-content-gedcom_stats {
    .list-inline-item {
        margin: 0;

        &:not(:last-child) {
            &::after {
                content: " •";
            }
        }
    }
}

.wt-block-content-user_messages {
    .table-responsive {
        max-height: 30rem;
        /* 480px */
        @extend .mb-5;
    }

    form {
        @extend .form-inline;
        @extend .mb-3;

        select {
            @extend .form-control;
            @extend .mx-2;
        }

        .btn {
            @extend .btn-sm;
        }

        button[type="submit"] {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-primary;
        }

        &:last-of-type {
            button[type="submit"] {
                @extend .btn-danger;
            }
        }
    }
}

.wt-block-content-user_favorites,
.wt-block-content-gedcom_favorites {
    .jc-favorites-block-item {
        background: $jc-favorites-bg;
        @include jc-border($jc-favorites-border-color);
    }

    .btn-link:hover {
        text-decoration: none;
    }
}
