/** JustLight Theme - Specific pages - Home page and User page blocks */

.wt-block {
    border: none;

    &:first-child {
        margin-top: $jc-main-wrapper-spacer;
    }

    &:last-child {
        margin-bottom: $jc-main-wrapper-spacer;
    }

    .wt-block-header {        
        border: none;
        background: none;
        padding: 0;

        .wt-main-blocks & {
            @extend .h3;
        }

        .wt-side-blocks & {
            @extend .h4;
        }
    }

    .wt-block-content {
        padding: 0;

        .wt-side-blocks & {
            font-size: $font-size-sm;
        }
    }
}

.wt-side-blocks {
    border-left: $border-width solid $jc-theme-lighter;
}

/** Special blocks */
.wt-block-content-gedcom_stats {
    .list-inline-item {
        margin: 0;
        &:not(:last-child) {
            &::after {
                content: " •";
            }
        }
    }
}
