.jc-global-module-tree {
  .tv_out {
    border: $border-width solid $table-border-color;
  }

  .tvM {
    background-color: $personbox-male-bg !important;
  }

  .tvF {
    background-color: $personbox-female-bg !important;
  }
}