// Import these set of variables before Bootstrap variables to overwrite the !default variables
// from the Bootstrap variable set.

// =============================================================================
// JustLight theme variables
// =============================================================================

// Options
$enable-shadows:            true !default;
$enable-gradients:          true !default;

// Colors
$blue:                      #337ab7;
$red:                       #b80000;
$babyblue:                  #d7eaf9;
$babypink:                  #fff0f5;

// Color scheme
$theme-colors: (
  primary: $blue
);

// overwrite font-awesome icons used by webtrees
$webtrees-fa-icons: (
  fa-plus: 'f0fe' // fa-plus replaced with fa-plus-square
);

// Image icons used by this theme
// Type: arrows, webtrees or other (icons without the prefix wt)
// optional parameters: width (default 16), height (default 16)
$image-icons: (
  webtrees: (
    bing-maps: (),
    google-maps: ()
  ),
  other: (
    resn-confidential: (),
    resn-locked: (),
    resn-none: (),
    resn-privacy: ()
  )
);

// Cards
$card-cap-bg:                       $blue; //primary color

// Tables
$table-accent-bg:                   $gray-100;

// Personboxes
$personbox-male-bg:                 $babyblue;
$personbox-female-bg:               $babypink;

// Treeview
$treeview-bg-color:                 $body-bg;
$treeview-box-male-bg:              $personbox-male-bg;
$treeview-box-female-bg:            $personbox-female-bg;