// Declaration of the theme gradients

// =======================================================================================
// Gradient for table, card headers, buttons etc.
// =======================================================================================

@mixin jc-header-gradient() {
  background: linear-gradient($jc-body-bg 0, $jc-theme-darker 100%);
  border-top: 5px solid theme-color(primary);
  border-bottom: $border-width solid $jc-theme-lighter;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
