// Declaration of the theme gradients

// =======================================================================================
// Gradient for table, card headers, buttons etc.
// =======================================================================================

@mixin jc-header-gradient() {
  background: linear-gradient($jc-body-bg 0, $jc-theme-darker 100%);
  border-top: 5px solid theme-color(primary);
  border-bottom: $border-width solid $jc-theme-lighter;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

@mixin jc-theme-gradient-secondary() {
  background: linear-gradient($jc-theme-dark 0%, $jc-theme-darker 50%, $black 100%);

  &,
  a {
    color: $body-color;
  }

  &:hover {
    background: linear-gradient($jc-theme-medium-dark 0%, $jc-theme-dark, $jc-theme-darker 100%);
    color: $body-color;
  }
}

@mixin jc-button-gradient-secondary() {
  @include jc-button($jc-theme-medium-dark);
  @include jc-theme-gradient-secondary();

  &:hover {
    @include jc-button($jc-theme-dark);
  }
}

// used on login/logout button in menu
@mixin jc-button-gradient-light() {
  @include jc-button($jc-gray-200);
  background: linear-gradient($jc-theme-lightest 0%, $jc-theme-lighter 50%, $jc-theme-medium 100%);

  &, a {
      color: $jc-theme-dark;
  }

  &:hover {
      background: linear-gradient($jc-theme-lighter 0%, $jc-theme-medium, $jc-theme-medium-dark 100%);
      color: $jc-theme-dark;
  }
}
