/** JustBlack Palette - Specific pages - Home page and User page blocks */
.wt-block {
    @include jc-border($jc-theme-medium-dark);
}

.wt-side-blocks {
    border: none;
    >div { // overwrite JustLight
        &:not(:last-child) {
            @include jc-border($jc-theme-medium-dark, 'bottom');
        }
    }
}

.wt-block-content-user_messages {
    .bg-secondary {
        background: $jc-theme-medium-dark !important;
    }
}

/** JustBlack Palette - Specific pages - Cards */
.card-header {
    /** Individual page name card (first) */
    #individual-names .card:first-of-type & {
        @include jc-theme-gradient-secondary();
    }

    /** Individual page Sidebar */
    #sidebar & {
        @include jc-theme-gradient-secondary();
    }
}

/** JustBlack Palette - Specific pages - Tabs */
.nav-tabs {
    .nav-link {

        @include media-breakpoint-down(lg) {
            &.active {
                background: darken($jc-theme-dark, 5%);
                color: $jc-primary;
            }

            &.active:hover {
                background: darken($jc-theme-dark, 10%);
                color: darken($jc-primary, 10%);
            }
        }
    }
}

/** JustBlack Palette - Specific pages - Fact tables */
.wt-facts-table {
    @at-root .wt-old, .wt-new {
        th, td, a, .wt-icon-edit, .wt-icon-copy {
            color: $jc-body-bg;
        }
    }
}

/** JustBlack Palette - Specific pages - Datatables */
table.dataTable {

    thead tr:last-child {
        @include jc-theme-gradient-secondary();
    }

     // use a striped table
     tbody tr.even {
        background-color: $jc-theme-medium-dark;
    }
}

.page-link {
    color: $jc-link-color;
    &:hover {
        color: $jc-theme-medium;
    }
}
