/** JustBlack Theme - Specific pages - Home page and User page blocks */
.wt-block {
    @include jc-border($jc-theme-medium-dark);

    .wt-block-header {
        padding: .75rem 1.25rem;
    }

    .wt-block-content {
        padding: .75rem 1.25rem;
    }
}

.wt-side-blocks {
    border: none;
    >div { // overwrite JustLight
        &:not(:last-child) {
            @include jc-border($jc-theme-medium-dark, 'bottom');
        }
    }
}
